@{
    ViewBag.Title = "Home Page";
}


<div class="row" style="margin:5%">
    <div class="col-md-4" style="background-color:deepskyblue">
        <h2>@Html.ActionLink("Incoming Order", "Index", "TransactionHeaders", new { Status = "Process" }, null)</h2>
        <h3>5</h3>
    </div>
    <div class="col-md-4" style="background-color:yellow">
        <h2>@Html.ActionLink("On Progress", "About", "Home")</h2>
        <h3>15</h3>
    </div>
    <div class="col-md-4" style="background-color:lightgreen">
        <h2>@Html.ActionLink("Finished Order", "About", "Home")</h2>
        <h3>9</h3>
    </div>
</div>